:root{
    --accent-color: #1ec1f7;
    --base-color: white;
    --text-color: black;
    --input-color: #efeafa;
    --accent-focus: #474ad7e6;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: monospace;
    font-size: 12px;
    color: var(--text-color);
    text-align: center;
}

body{
    min-height: 100vh;
    overflow: hidden; /*not a scrollable website*/
    background-image: url("../html/img/login_background.jpg");
    background-size: cover;
    background-position: right;
}

.signup{
    background-color: var(--base-color);
    height: 100vh;
    width: max(40%, 600px); /*depending on what value is bigger, min width 600 px)*/
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.6rem
}

form{
    width: min(400px, 100%); /*returns the smaller value*/
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div{ /*child-Elements of form*/
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1rem;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover{
    border-color: var(--accent-color);
}

form input:focus{
    outline: none;
    border-color: var(--accent-focus)
}

/*parent selector: we access the div, that has an input-child with applied focus
from this we take the direct child label*/
div:has(input:focus) > label{
background-color: var(--accent-focus);
}

form input::placeholder{
    font-family: monospace;
    color: var(--text-color);
    opacity: 0.9; /*Deckkraft der Textfarbe erhöhen*/
}
.login-button{
    margin: 10px auto;
    border: none;
    border-radius: 15px;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.login-button:hover{
    background-color: var(--accent-focus);
}

.login-button:focus{
    outline: none;
    background-color: var(--accent-focus);
}

.signup a{
    text-decoration: none;
    color: var(--accent-color);
}
.signup a:hover{
    color: var(--accent-focus);
}

#error-message{
    color: #f06272;
}

/***************************
sign up - responsive
 **************************/

@media (max-width: 1100px) {
    .signup{
        width: min(600px, 100%);
        border-radius: 0;
    }
}


