/***************************
body
 **************************/
body{
    font-family: monospace;
}

/***************************
header
 **************************/

header {
    width: 100%;
    padding: 2%;
    color: rgba(71,74,215,0.9);
    box-sizing: border-box;
}

.hp-header-container{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
/***************************
header logo
 **************************/
.hp-header-container a{
    flex: 1 1 20%;
    box-sizing: border-box;
}

.hp-header-container a img{
    max-width: 30%;
}

/***************************
searchbar
 **************************/
.search{
    align-self: center;
    width: 50%;
    flex: 1 1 50%;
}

.searchbar{
    width: 90%;
    background-color: rgba(71,74,215,0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 60px;
    padding: 0.2vw 0.4vw;
    box-sizing: border-box;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    /*padding top/bottom, left/right*/
    padding: 2vh 2vh;
    font-size: 2.5vh;
    color: #ffffff;
}

/*change placeholder-text color*/
.search ::placeholder{
    color: white;
}

.searchbar button img {
    width: 25px;
}

.searchbar button {
    border: 0;
    border-radius: 50%; /* ergibt kreis*/
    width: 60px;
    height: 60px;
    background: #c6c2ec;
    cursor: pointer;
}

/***************************
navigation
 **************************/

.navbar {
    width: 25%;
    font-size: 2.5vh;
    flex: 1 1 30%;
 }

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    padding: 2%;
}


/* links in nav*/
header nav ul li a:link {
    font-family: monospace;
    font-size: 2.5vh;
    color: rgba(71,74,215,0.9);
    text-decoration: none;
}

header nav ul li a:visited {
    color: rgba(71,74,215,0.9);
}

header nav ul li a:hover {
    color: rgba(71,74,215,0.7);
}

header nav ul li a:active{
    color: rgba(71,74,215,1);
}

/*Ende links in nav*/

/***************************
main
 **************************/

main {
    max-width: 100vw;
}

/***************************
main introduction
 **************************/

#hp-introduction{
    max-width: 100%;
    font-size: 5vh;
    text-align: center;
    margin: 15vh 8vw;
}


/***************************
main cards
 **************************/

#hp-main-container{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap; /* flex-direction and flex-wrap*/
}

.hp-main-cards{
    width: 50%;
    box-sizing: border-box;
    flex: 1 1 50%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.hp-main-cards h2{
    font-size: 4.5vh;
    text-align: center;

}

.hp-main-cards p{
    font-size: 3vh ;
    text-align: center;
}


/***************************
footer
 **************************/

footer{
    max-width: 100vw;
    margin-top: 5vh;
    padding: 1% 2%;
    background-color: rgba(71,74,215,0.9);;
    color: white;
}

footer a:link{
    text-decoration: none;
    color: white;
    font-family: monospace;
}

footer a:visited{
    text-decoration: none;
    color: white;
    font-family: monospace;
}

footer a:hover{
    text-decoration: none;
    color: rgba(170, 170, 170, 0.67);
    font-family: monospace;
}

footer a:active{
    text-decoration: none;
    color: white;
    font-family: monospace;
}