/***************************
root
 **************************/

:root{
    --ui-base-color-light: white;
    --ui-base-color-dark: #292626;
    --ui-blue: #474ad7e6;
    --ui-cyan: #1ec1f7;
    --ui-pink: #ca59c5;
    --ui-purple: #852bcc;
    --ui-dark-blue: #3d23a9;
    --text-font-family: monospace;
    --ui-font-size: max(1.2rem, 2vw);
}

/***************************
all - static
 **************************/

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--text-font-family), monospace;
    font-size: 16px;
}

/***************************
all - header
 **************************/

header {
    background: linear-gradient(180deg, var(--ui-base-color-light) 80%, transparent 100%);
    box-sizing: border-box;
    font-size: max(1.2rem, 2vw);
    padding: 2%;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
}

.hp-header-container{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    max-width: 100%;
}
/***************************
all - header logo
 **************************/
.logo{
    align-content: center;
    box-sizing: border-box;
    flex: 1 1 20%;
}

.logo img{
    height: auto;
    width: max(1rem, 10vw);
    margin: 0 auto;
}

/***************************
all - searchbar
 **************************/
.search{
    box-sizing: border-box;
    flex: 1 1 45%;
    margin: 0 1rem;
}

.searchbar{
    align-items: center;
    background-color: var(--ui-blue);
    border-radius: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 0.3rem;
    width: 100%;
}

.searchbar label{
    flex: 1 1 80%;
}

.searchbar input {
    background: transparent;
    border: 0;
    color: var(--ui-base-color-light);
    font-size: max(1.2rem, 2vw);
    outline: none;
    /*padding top/bottom, left/right*/
    padding: 2vh 2vh;
}

/*change placeholder-text color*/
.searchbar input::placeholder{
    color: var(--ui-base-color-light);
}

.searchbar button {
    background: #c6c2ec;
    border: 0;
    border-radius: 50%; /* ergibt kreis*/
    box-sizing: border-box;
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.searchbar button img {
    height: 75%;
    margin: 0 auto;
    width: 75%;
}

/***************************
all - navigation
 **************************/

.navbar {
    box-sizing: border-box;
    flex: 1 1 30%;
 }

.navbar ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 1%;
    width: 100%;
}

.navbar ul li {
    padding-left: max(1%, 7px);
}

.navbar ul li a:link {
    color: var(--ui-blue);
    text-decoration: none;
}

header nav ul li a:visited {
    color: var(--ui-blue);
}

header nav ul li a:hover {
    color: var(--ui-dark-blue);
}

header nav ul li a:active{
    color: var(--ui-blue);
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .search{
        flex: 1 1 30%;
    }
    .searchbar button {
        display: none;
    }
    html{
        font-size: 12px;
    }
}
@media screen and (max-width: 426px){
    .search {
        display: none;
    }
    .navbar {
        box-sizing: border-box;
        flex: 1 1 70%;
    }
}

/***************************
all - main
 **************************/

main {
    max-width: 100%;
}

/***************************
homepage - main introduction
 **************************/

#hp-introduction{
    animation: slideInLR 1s ease-in-out;
    font-size: max(1.6rem, 3vw);
    margin: 10vh 8vw;
    max-width: 100%;
    text-align: center;
}

/***************************
homepage - main cards
 **************************/

#hp-main-container{
    animation: slideInRL 1s ease-in-out;
    display: flex;
    flex-flow: row wrap; /* flex-direction and flex-wrap*/
    margin: 0 auto;
    max-width: 100%;
}

.hp-main-cards{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 50%;
    flex-flow: column wrap;
    justify-content: center;
    width: 50%;
}

.button-hp {
    appearance: none;
    background-color: var(--ui-blue);
    border: 2px solid var(--ui-blue);
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: var(--text-font-family), monospace;
    font-size: max(1.2rem, 2vw);
    font-weight: 600;
    margin: 0 auto;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width:45%;
    will-change: transform;
}

.button-hp:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-hp:active {
    box-shadow: none;
    transform: translateY(0);
}

.hp-main-cards p{
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

/***************************
all - footer
 **************************/

footer{
    background-color: var(--ui-blue);
    color: white;
    margin-top: 5vh;
    max-width: 100vw;
    padding: 1% 2%;
}

footer h2{
    margin-bottom: 1rem;
}

footer a{
    display: block;
    width: fit-content;
}

footer a p{
    width: fit-content;
}

footer a:link{
    color: white;
    font-family: var(--text-font-family), monospace;
    text-decoration: none;
}

footer a:visited{
    color: white;
    font-family: var(--text-font-family), monospace;
    text-decoration: none;
}

footer a:hover{
    color: rgba(170, 170, 170, 0.67);
    font-family: var(--text-font-family), monospace;
    text-decoration: none;
}

footer a:active{
    color: white;
    font-family:var(--text-font-family), monospace;
    text-decoration: none;
}

/***************************
about us - impressum
 **************************/

#impressum-container{
    font-size: 2rem;
}

/***************************
share
 **************************/

.share-main{
    width: 100%;
}

.share-container-upload{
    border-color: var(--ui-blue);
    border-radius: 15px;
    border-style: dotted;
    margin: 0 auto;
    min-width: 400px;
    width: 70%;
}

.share-container-upload form{
    background: linear-gradient(0deg, hsla(195, 93%, 54%, 0.9) 0%, hsla(195, 93%, 54%, 0.9) 0%, hsla(274, 65%, 48%, 0.9) 100%);
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}

.share-upload-card{
    background-color: white;
    border-color: var(--ui-purple);
    border-radius: 15px;
    border-style: dotted;
    font-size: 1.5rem;
    margin: 5%;
    padding: 2%;
}

.share-upload-card #upload::file-selector-button{
    display: none;
}

.share-container-upload input{
    background-color: #efeafa;
    border-style: none;
    box-sizing: border-box;
    font-size: 1.1rem;
    padding: 1%;
    width: 100%;
}

.share-container-upload input:focus{
    background-color: white;
    outline-color: var(--ui-purple);
}

.share-container-upload input::placeholder{
    font-family: var(--text-font-family), monospace;
    font-size: 1rem;
}

.upload-button{
    align-items: center;
    display: flex;
    margin: 1% auto;
    width: 100%;
}

/***************************
browse
 **************************/

.browse-search{
    box-sizing: border-box;
    flex: 1 1 90%;
    margin: 0 1rem;
}

.browse-results{
    margin: 4% auto;
    width: 100%;
}

.browse-card-container{
    box-sizing: border-box;
    display: flex;
    font-family: var(--text-font-family) monospace;
    font-size: var(--ui-font-size);
    width: 100%;
}

.browse-card {
    align-items: center;
    background: linear-gradient(var(--ui-base-color-light), var(--ui-base-color-light)) padding-box,
    linear-gradient(145deg, transparent 0%,var(--ui-pink),var(--ui-purple), var(--ui-dark-blue)) border-box;
    border: 3px solid transparent;
    border-radius: 15px;
    display: flex;
    flex: 1 1 30%;
    flex-flow: column nowrap;
    height: max(200px, 50%);
    justify-content: center;
    max-width: 30%;
}

.browse-card img{
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}


/***************************
sign up / login
 **************************/
.signup-container{
    align-items: center;
    display: flex;
    background: linear-gradient(0deg, hsla(195, 93%, 54%, 0.9) 0%, hsla(195, 93%, 54%, 0.9) 0%, hsla(274, 65%, 48%, 0.9) 100%);
    height: 80vh;
    justify-content: center;
}
.signup{
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
    background: rgba(256,256,256,0.7);
    border-color: var(--ui-base-color-light);
    border-radius: 15px;
    border-style: dotted;
    display: flex;
    flex-direction: column;
    height: max(40%, 70vh);
    justify-content: center;
    width: max(40%, 600px); /*depending on what value is bigger, min width 600 px)*/
}

.signup h1{
    font-size: max(1.6rem, 3vw);
    padding-bottom: 2rem;
}

.signup form{
    width: min(400px, 100%); /*returns the smaller value*/
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.signup form > div{ /*child-Elements of form*/
    display: flex;
    justify-content: center;
    width: 100%;
}

.signup form label{
    align-items: center;
    background-color: var(--ui-cyan);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-shrink: 0;
    height: 50px;
    justify-content: center;
    width: 50px;
}

.signup form input{
    background-color: var(--ui-base-color-light);
    border: 2px solid var(--ui-base-color-light);
    border-left: none;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    flex-grow: 1;
    font: inherit;
    height: 50px;
    min-width: 0;
    padding: 1rem;
    transition: 150ms ease;
}

.signup form input:hover{
    border-color: var(--ui-cyan);
}

.signup form input:focus{
    outline: none;
    border-color: var(--ui-dark-blue)
}

/*parent selector: we access the div, that has an input-child with applied focus
from this we take the direct child label*/
.signup div:has(input:focus) > label{
    background-color: var(--ui-dark-blue);
}

.signup form input::placeholder{
    font-family: monospace;
    opacity: 0.9; /*Deckkraft der Textfarbe erhöhen*/
}
.signup .login-button{
    margin: 10px auto;
    border: none;
    border-radius: 15px;
    background-color: var(--ui-cyan);
    color: var(--ui-base-color-light);
    font: inherit;
    font-size: max(1.6rem, 1.5vw);
    padding: 1rem 2rem;
}

.signup .login-button:hover{
    background-color: var(--ui-dark-blue);
}

.signup .login-button:focus{
    outline: none;
    background-color: var(--ui-dark-blue);
}

.signup a{
    text-decoration: none;
    color: var(--ui-cyan);
}
.signup a:hover{
    color: var(--ui-dark-blue);
}

#error-message{
    color: #f06272;
}


/***************************
responsive
 **************************/


@media screen and (min-width: 426px) and (max-width: 768px){
    html{
        font-size: 12px;
    }
    .search{
        flex: 1 1 30%;
    }
    .searchbar button {
        display: none;
    }
    .signup{
        width: min(500px, 100%);
    }

}
@media screen and (max-width: 426px){
    .search {
        display: none;
    }
    .navbar {
        box-sizing: border-box;
        flex: 1 1 70%;
    }
    #hp-main-container{
        flex-flow: column wrap;
        position: relative;
        z-index: 1;
    }
    .hp-main-cards{
        width: 100%;
    }
    div.hp-main-cards{
        background-color: rgba(256,256,256,0.7);
        height: 50%;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    div.hp-main-cards:nth-of-type(2){
        top: 50%
    }

    .button-hp {
        font-size: 0.8rem;
        padding: 5px;
    }

    .hp-main-cards p{
        font-size: 0.8rem;
         }
}

/***************************
animations
 **************************/

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideInY {
    from{
        transform: translateY(-70%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes slideInLR {
    from{
        transform: translateX(-70%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideInRL {
    from{
        transform: translateX(70%);
    }
    to{
        transform: translateX(0);
    }
}

